---
import { Doodler } from "../components/doodle.tsx";
import { doodles } from '../data/doodles.json';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="/main.css" />
		<title>Doodle</title>
	</head>
	<body>
		<Doodler client:load />

		<div class="flex-column justify-center">
			{doodles.length ? <h2>Gallery</h2> : undefined}
			{doodles.map(({src, caption}) => {
				return (<figure>
						<img src={src} alt={null} width="300" height="300" />
						<figcaption>{caption}</figcaption>
					</figure>);
			})}
		</div>

	</body>
</html>
